.age-container {
  display: flex;
  align-items: flex-start;
}

.container {
  display: flex;  
  flex-direction: column;  
  align-items: flex-start; 
}

#ageText {
  font-size: 2rem;
  margin-bottom: -1rem;
  color: var(--subtext-color);
}

#year {
  font-size: 6rem;  
  margin-top: 0;  
  color: var(--text-color);
}

#fractional {
  align-self: flex-start;
  font-size: 3rem;
  margin-top: 0; 
  width: 19rem;
  text-align: left;  
  overflow: hidden; 
  color: var(--text-color);
}

#year, #fractional {
  text-shadow: var(--text-shadow);
}

#resetButton {
  position: fixed;  
  bottom: 20px; 
  right: 20px; 
  background-color: transparent;  
  color: var(--text-color);  
  border: none;
  font-size: 12px;  
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1;
}

#resetButton:hover {
  text-shadow: var(--text-shadow);
  filter: brightness(1.2);
}
